<h1>{{question.question_text}}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'app_default:vote' question.id %}" method="post">
  {% csrf_token %} <!-- CSRF 공격을 막기 위한 수단 중 하나. 서버로 들어온 요청이 사이트 내부에서 온것이 맞는지 확인하는 용도. -->
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}"> <!-- forloop.counter는 Django templates 문법에서 제공하는 기능. 반복문의 반복 횟수를 출력해주는 기능. -->
    <label for="choice{{forloop.counter}}">{{choice.choice_text}}</label>
  {% endfor %}
  <input type="submit" value="Vote" />
</form>

<ul>
    {% for choice in question.choice_set.all %}
      <li>{{ choice.choice_text }}</li>
    {% endfor %}
</ul>