{% extends 'photo_base.html' %}

{% block title %}
  {{object.text | truncatechars:10}}
{% endblock %}



{% block content %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
      <p><img src="{{object.photo.url}}" style="width: 100%;"></p>
      <button type="button" class="btn btn-sx btn-info">{{ object.author.username }}</button>
      <p>{{ object.text | linebreaksbr }}</p>
      <a href="{% url 'photo:photo_delete' pk=object.id %}" class="btn btn-xs btn-outline-danger btn-sm float-right">Delete</a>
      <a href="{% url 'photo:photo_update' pk=object.id %}" class="btn btn-xs btn-outline-success btn-sm float-right">Update</a>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
      <div id="disqus_thread"></div>
    </div>
    <div class="col-md-2"></div>
  </div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://prt-django-dstragram.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endblock %}
